<header>

    <div class="container"></div>

        <div>
            <img src="{{ asset('assets/images/favicon.png') }}" alt="";>
        </div>

    <nav>
        <h1>
            <img src="/public/{{ asset('assets/images/favicon.png') }}" alt="">
            Bucket-List
        </h1>
        <ul>
            <li>
                <a href="{{ path('homepage') }}">Home </a>
            </li>
            <li>
                <a href="{{ path('about_us') }}">A propos </a>
            </li>

            <li>
                <a href="{{ path('wish_index') }}">Mes souhaits </a>
            </li>

            <li>
                <a href="{{ path('wish_newWish') }}">Ajout d'idée </a>
            </li>

        </ul>
    </nav>
</header>