{% extends 'base.html.twig' %}

{% block title %}{{wish.title}} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
    <h1>Détails du souhait</h1>

        <p><strong>Souhait : {{ wish.title }} | {{ wish.category }}</strong></p>
        <p>{{ wish.author }}</p>
        <p>{{ wish.description }}</p>
        <p>{{ wish.isPublished}}</p>

    </div>


{% endblock %}
